@charset "utf-8";

/* CSS Document */

@font-face {
    font-family: SatisfyRegular;
    src: url('../fonts/satisfy/Satisfy-Regular.ttf');
}

@font-face {
    font-family: carriosGothic;
    src: url('../fonts/carrois-gothic-sc/CarroisGothicSC-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark-theme {
    background-color: #06080f;
}

.filter-dark {
    background-color: rgba(0, 0, 0, 0.5);
}

.img-filter-dark {
    filter: brightness(0.95);
}

.img-bg-light {
    box-shadow: #06080f;
    padding: 5px;
    background-color: #ccc;
}

.img-bg-light img {
    height: 8.6rem;
    width: 100%;
}

.gallery img {
    height: 12.5rem;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
img {
    display: block;
}

.top-head-container {
    width: 100%;
    margin: auto;
    padding-left: 4rem;
    padding-right: 4rem;
}

.container {
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: auto;
}

.logo {
    float: left;
    padding: 0 10px 0 10px;
    margin-top: 12px !important;
    margin-bottom: 12px;
}

.logo img {
    width: 17em;
}

.main-background-banner {
    background-image: url('../Images/bannerimg17.jpg');
    height: 45rem;
    background-size: 100% 49rem;
    filter: brightness(0.58);
    display: flex;
    align-items: center;
}

.main-background-banner .filter-dark {
    height: 78%;
    width: 90%;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.fixed_full_width_container {
    overflow: hidden;
}

.abt {
    background-image: url('../Images/bannerimg12.jpg') !important;
}

.services {
    background-image: url('../Images/bannerimg19.jpg') !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: auto;
    padding: 20px 15px 20px 15px;
    white-space: normal;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fixed_full_width_container {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.m-auto {
    margin: auto;
}

.padding-0 {
    padding: 0px !important;
}

.icon {
    height: 1rem;
}

.icon.icon-1 {
    width: 1.4rem;
}

.icon.icon-2 {
    width: 0.8rem;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slideshow-container .row {
    height: 27.5rem;
}


/* Hide the images by default */

.slide {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    margin-top: -22px;
    padding: 1.5rem;
    color: white;
    background-color: transparent;
    font-weight: bold;
    font-size: 2.5rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-left: -2.5rem;
    margin-right: -2.5rem;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}


/* Fading animation */

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.slide .row {
    padding: 20px;
}

@keyframes fade {
    from {
        left: 0%;
    }
    to {
        left: 100%;
    }
}

.m-auto {
    margin: auto;
}

.container-banner .head-1,
.container-banner .head-sm {
    text-align: center;
    color: white;
}

.head-1 {
    font-size: 3.4rem;
    font-family: carriosGothic;
    font-weight: bold;
}

.head-sm {
    font-size: 2rem;
    font-style: italic;
    font-family: SatisfyRegular;
}

.h-100 {
    height: 100%;
}

.menu {
    float: right;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row !important;
}

.menu .top-menu-bar-container {
    list-style: none;
}

.menu .top-menu-item {
    display: flex;
    margin: auto auto 0 auto;
    align-items: center;
    width: 6rem;
    flex-direction: column;
    padding-left: 0;
}

.bg-theme-1 {
    background-color: #001733;
}

.bg-theme-2 {
    background-color: #060404;
}

.bg-theme-3 {
    background-color: #804b45;
}

.bg-theme-4 {
    background-color: #502c37;
}

.bg-theme-5 {
    background-color: #191818;
}

h1,
.footer h5 {
    font-family: carriosGothic;
}

.footer p {
    font-family: SatisfyRegular;
}

.menu a {
    text-decoration: none;
    color: #ccc;
    font-size: 17px;
    font-weight: bolder;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    font-family: carriosGothic;
    justify-content: center;
    align-items: center;
}

.menu a div {
    display: inline-block;
    position: relative;
}

.menu a div:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    margin-top: 0.5rem;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

.menu a div:hover:after {
    width: 100%;
    background: #aa7b5c;
}

.container-banner {
    width: 100%;
}

.text-color-white {
    color: #cccccc;
}

.text-align-center {
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.padding-4 {
    padding: 4rem;
}

.padding-y-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.abt-head {
    font-family: carriosGothic;
    padding-bottom: 3rem;
}

.abt_image {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 30%;
    float: left;
}

.abt_image img {
    width: 100%;
}

.clr {
    clear: both
}

.abt_text {
    width: 60%;
    float: right;
    padding-top: 60px;
}

.abt_text p {
    text-align: left;
    color: #666;
    width: 100%;
}

.gallery-img {
    width: 33.33%;
    float: left;
    padding: 1%;
    box-sizing: border-box;
}

.gallery-img img {
    width: 100%;
}

.get {
    width: 46%;
    float: left;
}

.form {
    width: 100%;
    height: 100%;
}

#t1,
#t2 {
    width: 100%;
    height: 48px;
    text-align: center;
    margin-top: 25px;
}

#t3,
#t4,
#b1 {
    width: 100%;
    text-align: center;
    margin-top: 25px;
}

#t4 {
    resize: none;
    height: auto;
}

#t3,
#b1 {
    height: 48px;
}

.menu-new .top-menu-bar-container {
    color: whitesmoke;
    border-radius: 1.2rem;
}

.menu-new {
    width: 100%;
    float: right;
    display: none;
}

.menu-new .top-menu-item {
    list-style: none;
    padding: 10px;
    text-align: center;
}

.menu-new a {
    text-decoration: none;
    color: #cccccc;
    font-weight: 800;
    font-family: carriosGothic;
}

.toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col,
.col-md,
.col-auto {
    padding-left: 15px;
    padding-right: 15px;
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.text-uppercase {
    text-transform: uppercase;
}

.col-md {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.w-auto {
    width: auto;
}

.margin-y-auto {
    margin-bottom: auto;
    margin-top: auto;
}

.form-div {
    padding: 30px;
    background-color: #3333336e;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.form-element {
    border: 1px solid #555;
    border-radius: 5px;
    margin-top: 5px;
    background-color: #4444448c;
    color: #f2f2f2;
    box-sizing: border-box;
}

.form-element[type="submit"] {
    background: #c2c2c2;
    color: #000;
    font-weight: bold
}

form small {
    color: #ed7d7d;
}

form small .border-danger {
    border: 1px solid #ed7d7d;
}

form small .border-success {
    border: 1px solid #74c874;
}

.slide-show-sm,
.slide-show-sm-dots {
    display: none;
}

@media screen and (max-width:768px) {
    .menu {
        float: none;
        width: 100%;
    }
    .logo {
        float: none;
    }
    .top-head-container {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    .container {
        max-width: 824px;
    }
    .menu a div:after {
        height: 1px;
        margin-top: 2px;
    }
    .menu a {
        font-size: 10px;
    }
    .logo img {
        width: 8em;
        margin-top: -7px;
    }
}

@media screen and (max-width:733px) {
    .abt-div .col,
    .gallery .col,
    .slideshow-container .col-md,
    .top-head-container .logo-div,
    .top-head-container .menu-div {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .top-head-container .logo-div {
        justify-content: center;
        display: flex;
    }
    .abt-div .col img,
    .gallery .col img {
        height: 30rem;
    }
    .img-bg-light img {
        height: 15.6rem;
    }
    .services {
        /* height: 100rem; */
        margin: auto;
    }
    .slideshow-container .row {
        height: auto;
    }
}

@media screen and (max-width:640px) {
    .menu {
        text-align: center;
    }
    .logo {
        margin: 0 auto;
    }
    .gallery-img {
        width: 50%;
    }
    .form {
        float: none;
        width: 100%;
        margin: 0 auto;
    }
    .get {
        text-align: center;
        width: 100%;
    }
    .padding-4 {
        padding: 2rem;
    }
    .col {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .head-1 {
        font-size: 2rem;
    }
    .head-sm {
        font-size: 1rem;
    }
    #cont {
        text-align: left;
    }
    .form-div {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .contact-info .row {
        justify-content: left;
    }
    .gallery .col img {
        height: 13rem;
    }
    .abt-div .col img {
        height: 20rem;
    }
    .main-background-banner {
        height: 20rem;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }
    .col-md .card,
    .col-md {
        padding: 0px;
    }
}

@media screen and (max-width:400px) {
    .icon {
        display: none;
    }
    .border-bottom {
        border-bottom: 1px solid #333;
    }
    .border-top {
        border-top: 1px solid #333;
    }
    .icon-info {
        padding-left: 0px;
    }
}

@media screen and (max-width:320px) {
    .abt_image,
    .abt_text,
    .abt_text p {
        float: none;
        width: 95%;
        margin: 0 auto;
    }
    .gallery-img {
        width: 95%;
        float: none;
        margin: 0 auto;
    }
    #t1,
    #t2 {
        width: 100%;
        float: none;
    }
    .menu {
        display: none;
    }
    .toggle {
        display: block;
    }
    .top-head-container .logo-div {
        justify-content: left;
    }
}